.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 84px 0 24px;
}

.container header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 7px;
}

.container header div{
    display: flex;
    align-items: center;  
}

.container input {
    width: 50%;
    height: 50px;
    background: #e6e6e6;
    border-radius: 8px;
    border: none;
}

.container button {
    width: 50%;
    font-weight: bold;
    color: #fff;
    height: 60px;
    border-radius: 8px;
    margin: 12px 0 8px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
    background: red;
}

.container button:hover {
    filter: brightness(0.9)
}