.card{
    height: 50px;
    width: 50%;
    background: #735bf2;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
}

.card strong{
    font-size: 16px;
}